NEXT_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_BASE_URL=http://localhost:3001
DATABASE_URL=mongodb+srv://user:StrongPassword123@cluster0.hvzuew2.mongodb.net/?appName=Cluster0
BETTER_AUTH_SECRET=gKolcMdnKeIILc9KryzPL2924w47hL8X
BETTER_AUTH_URL=http://localhost:3001
CORS_ORIGIN=http://localhost:3001
NODE_ENV=development
GEMINI_API_KEY=ssss
RESEND_API_KEY=ssss
RESEND_FROM_EMAIL=onboarding@resend.dev
R2_ACCOUNT_ID=ssss
R2_ACCESS_KEY_ID=ssss
R2_SECRET_ACCESS_KEY=ssss
R2_BUCKET_NAME=ssss
LOG_LEVEL=info
PINO_PRETTY=true