BETTER_AUTH_SECRET=gKolcMdnKeIILc9KryzPL2924w47hL8X
BETTER_AUTH_URL=http://localhost:3000
RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev
CORS_ORIGIN=http://localhost:3001
LOG_LEVEL=info
PINO_PRETTY=true
R2_ACCOUNT_ID=sss
R2_ACCESS_KEY_ID=sss
R2_SECRET_ACCESS_KEY=sss
R2_BUCKET_NAME=
DATABASE_URL=mongodb+srv://user:StrongPassword123@cluster0.hvzuew2.mongodb.net/?appName=Cluster0
GEMINI_API_KEY=sss
NODE_ENV=development