BETTER_AUTH_SECRET=gKolcMdnKeIILc9KryzPL2924w47hL8X
BETTER_AUTH_URL=http://localhost:3000/api/auth
RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev
CORS_ORIGIN=http://localhost:3001
LOG_LEVEL=info
PINO_PRETTY=true
UPSTASH_REDIS_REST_URL="https://comic-walrus-96287.upstash.io"
UPSTASH_REDIS_REST_TOKEN="gQAAAAAAAXgfAAIgcDIzZDEyY2I0YzI1MmE0YWIxOTNmMzc5ODg5ZjdjNDYxZA"
DATABASE_URL=mongodb+srv://user:StrongPassword123@cluster0.hvzuew2.mongodb.net/?appName=Cluster0
GEMINI_API_KEY=sss
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
NODE_ENV=development
